# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Ignore build output
dist/
build/
out/

# Ignore package lock files
package-lock.json
yarn.lock